<launch>
    <arg name="rname" default="a1"/>
    <arg name="ctrl_level" default="highlevel"/>
    <arg name="mode" default="lcm_server_running_node"/>

    <node pkg="unitree_base" type="$(arg mode)" name="node_lcm_server_running"
          respawn="false" output="screen" args="$(arg rname) $(arg ctrl_level)" />

    <param name="robot_name" value="$(arg rname)"/>
    <param name="control_level" value="$(arg ctrl_level)"/>
</launch>
